body {
     /* Taustakuvat */
    background-image: url('kuvat/taustakuva_oikea.jpg'), url('kuvat/taustakuva_vasen.jpg');
    background-repeat: no-repeat, no-repeat; /* Täällä toisto on määritelty kullekin taustakuvulle erikseen */
    background-attachment: fixed; /* Taustakuva pysyy paikoillaan näytön yläosassa */
    background-position: right top, left top; /* Täällä määritellään sijainti kullekin taustakuvulle */
    background-size: auto, auto; /* Täällä määritellään koko kullekin taustakuvulle */
    color: #FFFFFF;
    background-color: #1A1A1A;
    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    font-family: 'Oswald', sans-serif; /* Käytä Oswald fonttia */
    margin: 30px 300px;

}


@media only screen and (max-width: 600px) {
    /* CSS-säännöt mobiililaitteille ja vaakasuuntaisille mobiililaitteille */
    body {
        margin: 20px;
        background-image: url('kuvat/taustakuva_oikea.jpg');
        background-repeat: no-repeat; 
        background-attachment: fixed; 
        background-position: right top;  
    }

    /* Muuta kuvan koko mobiililaitteille ja vaakasuuntaisille mobiililaitteille */
    #hierontakuva {
        width: 80%; /* Säädetään prosenttiosuutta näytön leveydestä */
        max-width: none; /* Poista max-width, jotta kuva skaalautuu täysin */
        display: block;
        margin: auto;
    }
}


    figure {
        border: 10px #ffffff;
        padding: 4px;
        margin: auto;
        border-radius: 30px;

    }

    #hierontakuva {

        width: 500px;
        max-width: auto;
        display: block;
        margin: auto;
    }

    .esittely { 
        font-size: 20px;
        text-align: center;

    .esittely .link {
        color: #FFFFFF;
        text-decoration: none;
        text-decoration: underline;
        }
        
    .esittely .link:hover {
        color: rgb(153, 153, 153);
        text-decoration: underline;
        }
        
    .esittely .link:visited {
        color: #ffffff;
        text-decoration: none;
        }
          
    }

    nav {text-align: center;
    }

    nav a {
        background: #FFFFFF;
        color: #000000;
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
        display: inline-block;
        padding: 7px 7px; /* Lisätään hieman tilaa linkkien ympärille */
        border-radius: 10px; /* Pyöristetyt reunat */
        margin: 0px 0px 7px 7px; /* Lisätty tilaa linkkien väliin */

    }

    nav a:hover {
        color: #FFFFFF;
        background-color: #000000;
    }
    
    nav a.active-page {
        background-color: #000000;
        color: #FFFFFF;

    }

/* Navigaation linkkien tyyli */
nav .nav-link {
    color: #000000;
    text-decoration: none;
}

nav .nav-link:hover {
    color: #FFFFFF;
}

/* Tekstissä olevien "tästä" linkkien erityistyyli */
.custom-link {
    color: white;
    text-decoration: none;

}