body {
    color: #FFFFFF;
    background-color: #1A1A1A;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 50px 50px;
}

    figure {
        border: 10px #ffffff;
        padding: 4px;
        margin: auto;
        border-radius: 30px;

    }

    #hierontakuva {

        width: 20%;
        max-width: 400;
    }

    .esittely {
        font-size: 20px;
    }

    nav {text-align: center;
    }

    nav a {background: #1A1A1A;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;

        

    }

    nav a:hover {
        color: #FFFFFF;
        background-color: #1A1A1A;

    }
    #valittu {
        color:#acada6
        

    }



    
    


